<!DOCTYPE html>

{{- if .Site.IsServer -}} {{ "<!-- _default/baseof.html -->" | safeHTML }} {{- end -}}

<html lang="en">
{{ partial  "head.html" . }}
<body>

  {{ block "navigation" . }} {{ partial  "navigation.html" . }} {{ end }}

  {{ block "main" . }}
    {{ .Content | safeHTML }}
  {{ end }}

  {{ block "footer" . }} {{ partial  "footer.html" . }} {{ end }}
  
  {{ block "scripts" . }} {{ partial  "scripts.html" . }} {{ end }}
  
</body>

{{- if .Site.IsServer -}} {{ "<!-- END _default/baseof.html -->" | safeHTML }} {{- end -}}

\</html>