{{- if .Site.IsServer -}} {{ "<!-- partial/footer.html -->" | safeHTML }} {{- end -}}

  <!-- footer -->
<footer class="footer-bg" data-background="/img/bg/footer_bg.jpg">
  <div class="container">
    <div class="f-widget-wrap sf-widget-wrap border-none">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="footer-widget sf-widget mb-30">
            <div class="footer-logo mb-35">
              <a href="#"><img src="/img/logo/w_logo.png" alt=""></a>
            </div>
            <div class="footer-text mb-35">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 offset-lg-4 col-md-6">
          <div class="footer-widget sf-widget mb-30">
            <div class="fw-title mb-40">
              <h5>All Team Members<span></span></h5>
            </div>
            <div class="footer-links">
              <ul class="">
                {{ range (where .Site.RegularPages "Type" "team") }}
                  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>

                {{ end }}
              </ul>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="copyright-wrap pb-30">
      <div class="row d-flex align-items-center">
        <div class="col-md-6">
          <div class="copyright-text">
            <p>Copyright By@<span>Fatah Digital</span> - 2020</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="back-btn s-back-btn text-right">
            <a href="#" id="scrollToTop" class="btn transparent-btn">bACK TO TOP</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer-end -->

{{- if .Site.IsServer -}} {{ "<!-- END partial/footer.html -->" | safeHTML }} {{- end -}} 